<!-- base  -->

{%extends "base.html"%}

<!-- title  -->
{% block title%} OwnaStore {%endblock%}

<!-- content  -->

{% block content %}

<!-- hero  -->
{% include "components/herosection.html" %}
<!-- online  -->
{% include "components/onlinepresence.html" %}

<!-- features  -->
{% include "components/features.html" %}

<!-- highlights  -->
{% include "components/highlights.html" %}

<!-- process  -->
{% include "components/process.html" %}

<!-- testimonials  -->
{% include "/components/testimonials.html" %}

<!--showingproducts  -->

{% include "components/showingproducts.html" %}

<!--footer-->


{% endblock %}
