
    <section class="features-container">
      <section class="features-container-top">
        <div class="features-container-top-content">
          <h1>Simplify WhatsApp <br />Ordering</h1>
          <p>
            Customers send clean order messages through WhatsApp, specifying
            their choices and scheduling, which minimizes repetitive inquiries.
          </p>
        </div>
        <div class="features-container-top-image">
          <img
            id="featuresone"
            src="/static/images/feature1.png"
            alt="features-image"
          />
        </div>
      </section>
      <section class="features-container-middle">
        <div class="features-container-middle-image">
          <img
            id="featurestwo"
            src="/static/images/feature1.png"
            alt="features-image"
          />
        </div>
        <div class="features-container-middle-contant">
          <h1>Manage Orders Online</h1>
          <p>
            Order summary, invoice link, and order notifications — all in one
            place. Keep your customers updated at every step.
          </p>
        </div>
      </section>
      <section class="features-container-bottom">
        <div class="features-container-bottom-content">
          <h1>Accept Local Payments</h1>
          <p>
            Support QR, cash on delivery, real-time bank transfers, and cards —
            with lower fees and instant payouts.
          </p>
        </div>
        <div class="features-container-bottom-image">
          <img
            id="featuresthree"
            src="/static/images/feature4.png"
            alt="features-image"
          />
        </div>
      </section>
    </section>

