
    <section class="hero-container">
      <div class="hero-content">
        <h1>Own an online store for your <span id="hero-biz">
            business
        </span> in seconds</h1>

        <p class="hero-paragraph">
          Create your storefront, add products, share your link with customers,
          and let them order easily. Everything in one place
        </p>

        <button id="hero-button">Get Started</button>
      </div>

      <div class="hero-image">
        <img id="heroing" src="/static/images/header1.png" alt="hero-image" />
      </div>
    </section>
  
