<section class="highlights-container">
  <section class="highlights-top">
    <div class="highlights-top-content">
      <h3>For Customers</h3>
      <h1>
        Shop Smart. Shop <br />
        Owna Store
      </h1>
      <p>
        For customers who want to buy easily from WhatsApp vendors. Browse,
        select, and message; all in one seamless experience.
      </p>
      <ul>
        <li><img src="" alt="" />Verified WhatsApp vendors</li>
        <li>Instant chat to buy</li>
        <li>Shop from anywhere</li>
      </ul>
      <div class="highlights-top-button">Start shopping</div>
    </div>
    <div class="highlights-top-image">
      <img
        id="highlightsone"
        src="/static/images/buyer.png"
        alt="highlights-image"
      />
    </div>
  </section>
  <section class="highlights-middle">
    <div class="highlights-middle-image">
      <img
        id="highlightstwo"
        src="/static/images/refer.png"
        alt="highlights-image"
      />
    </div>
    <div class="highlights-middle-content">
      <h3>Earn Rewards</h3>
      <h1>Refer and <br>Earn</h1>
      <p>
        Invite others to OWNA with your referral code and earn. Share your
        unique code with friends, family, and fellow vendors.
      </p>
      <ul>
        <li>Earn bonus on every referra</li>
        <li>Build your network</li>
        <li>Passive income potential</li>
      </ul>
    </div>
  </section>
  <section class="highlights-bottom">
    <div class="highlights-bottom-content">
      <h3>Game Changer</h3>
      <h1>How OWNA is Changing Business on WhatsApp</h1>
      <p>
        No mistake. OWNA is changing how small businesses sell on WhatsApp. From
        simple storefronts to seamless customer interactions, we're making
        e-commerce accessible to everyone.
      </p>
    </div>
    <div class="highlights-bottom-image">
      <img
        id="highlightsthree"
        src="/static/images/ownaflyer3.png"
        alt="highlights-image"
      />
    </div>
  </section>
</section>
