
    <section class="onlinepresence-container">
      <section class="onlinepresence-top">
        <div class="onlinepresence-top-content">
          <h1 id="onlinepresence-top-content-header">
            Get a business website to sell online
          </h1>
          <p id="onlinepresence-top-content-paragraph">
            Your business needs an online presence.
          </p>
        </div>
        <div class="onlinepresenceimgone">
          <img
            id="onlinepresenceimg"
            src="/static/images/hsell.png"
            alt="onlinepresence-image"
          />
        </div>
      </section>

      <section class="onlinepresence-bottom">
        <section class="onlinepresence-bottom-left">
          <div class="onlinepresence-bottom-left-content">
            <h1>Share your products and sell on smoothly</h1>
            <p>
              Share your Owna Store link anywhere. Customers can browse your
              products, choose what they want and chat with you directly on
              WhatsApp to complete their order.
            </p>
          </div>
          <div class="onlinepresence-bottom-left-image">
            <img
              id="onlinepresenceimgtwo"
              src="/static/images/store.png"
              alt="onlinepresence-image"
            />
          </div>
        </section>
        <section class="onlinepresence-bottom-right">
          <div class="onlinepresence-bottom-right-content">
            <h1>Know what your customers love</h1>
            <p>
              See how your store is performing. Track product views, customer
              interest and your best-performing products so you can make smarter
              selling decisions.
            </p>
          </div>
          <div class="onlinepresence-bottom-right-image">
            <img
              id="onlinepresenceimgthree"
              src="/static/images/dash.png"
              alt="onlinepresence-image"
            />
          </div>
        </section>
      </section>
    </section>
 
