<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="process-container">
      <section class="process-top">
        <div class="process-top-content">
          <h3>SIMPLE PROCESS</h3>
          <h1>Four steps to your store</h1>
          <p>From setup to first sale in minutes</p>
        </div>
      </section>
      <section class="process-cards">
        <div class="process-card-one">
          <img
            id="process-one-image"
            src="https://img.icons8.com/?size=100&id=miwwCtO3Ly3T&format=png&color=000000"
            alt="process-image"
          />
          <h3>Get started in seconds</h3>
          <p>
            Signup takes just a few seconds. No credit card required to create
            your store and start selling
          </p>
          <hr class="card-divider" />
          <p>
            <img
              id="process-one-tick"
              src="/static/images/icons8-tick-24.png"
              alt="tick"
            />Takes 10 seconds
          </p>
        </div>
        <div class="process-card-two">
          <img
          id="Pprocess-two-image"
            src="https://img.icons8.com/?size=100&id=lPkvUdIsvqmg&format=png&color=40C057"
            alt="process-image"
          />
          <h3>Create your store</h3>
         
          <p>
            Add your products, prices, and images to build your simple
            storefront.
          </p>
          <hr class="card-divider" />
          <p>
            <img
              id="process-two-tick"
              src="/static/images/icons8-tick-24.png"
              alt="tick"
            />No technical skills needed
          </p>
        </div>
        <div class="process-card-three">
          <img
            id="process-three-image"
            src="https://img.icons8.com/?size=100&id=tEoXnEjzZWZw&format=png&color=000000"
            alt="process-image"
          />
          <h3>Share your link</h3>
          <p>
            3 Share your link Get one link to your store and share it on
            WhatsApp status, Instagram, or anywhere.
          </p>
          <hr class="card-divider" />
          <p>
            <img
              id="process-three-tick"
              src="/static/images/icons8-tick-24.png"
              alt="tick"
            />Works everywhere
          </p>
        </div>
        <div class="process-card-four">
          <img
            id="process-four-image"
            src="https://img.icons8.com/?size=100&id=3OmLPsSUeBdX&format=png&color=000000"
            alt="process-image"
          />
          <h3>Customers chat to buy</h3>
          <p>
            Customers browse your store and message you on WhatsApp when they're
            ready to order.
          </p>
          <hr class="card-divider" />
          <p>
            <img
              id="process-four-tick"
              src="/static/images/icons8-tick-24.png"
              alt="tick"
            />No checkout needed
          </p>
        </div>
      </section>
      <section class="process-bottom">
        <div class="process-bottom-content">
          <button>Start for free</button>
          <p>.No credit card required.Free forever</p>
        </div>
      </section>
    </section>
  </body>
</html>
