
    <section class="showingproducts-container">
      <section class="carousel-images">
        <img
          id="carousel-image-one"
          src="/static/images/heroshopping.jpg"
          alt="carousel-image"
        />
      </section>
      <section class="showingproducts-container-content">
        <div class="top-content">
          <h3>
            <img
              id="header-image"
              src="https://img.icons8.com/?size=100&id=n2XDIOJc6t91&format=png&color=40C057"
              alt="chat-icon"
            />Built for WhatsApp sellers
          </h3>
          <h1>
            Show your products better than <br />
            <span class="bic"> flooding your WhatsApp status</span>
          </h1>
          <p>
            Share one link with your customers, let them browse your products,
            and chat with you on WhatsApp to buy.
          </p>
        </div>
        <div class="buttons">
          <button class="btn">create your store</button>
          <button class="cta">see how it works</button>
        </div>
        <div class="bottom">
          <p>
            <img
              id="bottom-one"
              src="https://img.icons8.com/?size=100&id=79003&format=png&color=40C057"
              alt="dot"
            />Free to start
          </p>
          <p>
            <img
              id="bottom-two"
              src="https://img.icons8.com/?size=100&id=79003&format=png&color=40C057"
              alt="dot"
            />No signup stress
          </p>
          <p>
            <img
              id="bottom-three"
              src="https://img.icons8.com/?size=100&id=79003&format=png&color=40C057"
              alt="dot"
            />Set up in seconds
          </p>
        </div>
        <hr class="card-divider" />
        <p>Join <strong> 10,000+ </strong> sellers using WhatsApp</p>
      </section>
    </section>
 